#btn-success{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 1%;
    bottom: 10px;
}

.card-header{
    height: 70px;
    display: flex;
    align-items: center;
}

#exampleInputFile:hover,#lbl-upload:hover{
    cursor: pointer;
}
#lbl-upload:hover{
    background-color: navy;
}
#image-preview{
    height: 200px;
    width: 180px;
    border: 2px solid brown;
}
.preview-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}
#btn-remove{
    position: absolute;
    left: 38%;
    align-self: center;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
}
.pagination{
    justify-content: right;
}
.tbl-image{
    display: block;
    width: 200px;
    height: 100px;
}
#image-preview{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btn-new{
    width: 200px;
    position: absolute;
    right: 2%;
}

tbody tr{
    cursor: pointer;
}

tbody tr td:last-child{
    width: 20px;
    text-align: center;
    font-size: 1.3rem;
    vertical-align: middle;
}

tbody tr td:last-child:hover{
    color: red;
}

.book-preview{
    width: 60px;
}

.selected{
    background-color: cornflowerblue !important;
}